{% extends 'base.html' %}
{% load static %}
{% block metadescription %}

        {{ product.prod_desc|truncatewords:150 }}

{% endblock %}

{% block title %}
    {% if category %}
        {{ product.prod_name}}
    {% endif %}
{% endblock %}


{% block content %}
<div class="row my_prod_row">
    <div class="mx-auto">
        <p ><a href="{% url 'shopApp:allProductCat' %}">Home</a> |
        <a href="{{product.category.get_url}}" >{{product.category}}</a> | {{product.prod_name}}</p>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <div style="min-width:18rem;">
                <img class="my-prod-image" src="{{product.prod_image.url}}" alt="{{product.prod_name}}">
            </div>
        </div>
    </div>
    <div>
        <div class="container" style="margin-bottom:10px;">
            <div class="col-md-12 col-sm-12 col-md-12 col-lg-12">
                <h1 class="my_product_title">{{product.prod_name}}</h1>
                <p>${{product.prod_price}}</p>
                <p class="my_prod_title">Product Description</p>
                <p class="text-justify my_prod_text">{{product.prod_desc}}</p>
                {% if product.stock <= 0 %}
                    <p class="text-justify my_prod_text"><b>Out of Stock</b></p>
                {% else %}
                    <a class="btn btn-secondary" href="{% url 'cart:add_cart' product.id %}">Add To Cart</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}